* {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121213;
}

hr {
    border: 0;
    border-top: 0.5px solid rgba(208, 204, 198, 0.5); 
    margin: 20px 0;
    margin-top: -10px;
    width: 100%;
}

#title {
    text-align: center;
    color: #D0CCC6;
    letter-spacing: 4px;
    margin-top: 7px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 340px;
    margin: 0 auto;
    margin-top: 55px;
}

.square {
    width: 60px;
    height: 60px;
    border: 2px solid #3A3A3C;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 60px;
    align-items: center;
}

#keyboard button {
    width: 45px;
    height: 60px;
    margin: 1px;
    font-size: 20px;
    cursor: pointer;
    background-color: #808384;
    border: none;
    color: white;
    border-radius: 10%;
    font-weight: bold;
}

#keyboard button.enter {
    width: 75px;
    font-size: 12px;
}

#keyboard button.backspace {
    width: 75px;
}